@import "../common";

@zoneSize: 200px;
@zoneColor: #333;
@zoneActiveColor: lightslategray;

.zoneActive() {
    border-color: @zoneActiveColor;
    color: @zoneActiveColor;
}

.drop-zone-container {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.drop-zone {
    display: table-cell;
    vertical-align: middle;
    width: @zoneSize;
    height: @zoneSize;
    border: 2px dashed @zoneColor;
    border-radius: 50%;
    text-align: center;
    color: @zoneColor;

    &.drag-over {
        .zoneActive();
    }

    > span {
        display: inline-block;
        width: 50%;
    }
}

label.drop-zone {
    cursor: pointer;

    &:hover, &:active, &:focus {
        .zoneActive();
    }
}
