body {
  padding-top: 15px;
}
.drop-zone-container {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.drop-zone {
  display: table-cell;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border: 2px dashed #333;
  border-radius: 50%;
  text-align: center;
  color: #333;
}
.drop-zone.drag-over {
  border-color: lightslategray;
  color: lightslategray;
}
.drop-zone > span {
  display: inline-block;
  width: 50%;
}
label.drop-zone {
  cursor: pointer;
}
label.drop-zone:hover,
label.drop-zone:active {
  border-color: lightslategray;
  color: lightslategray;
}
