<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input type=file</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="dropZone.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <form>
        <div class="form-group visible-lg text-center">
            <label for="documentFile" class="btn btn-default">Browse file</label>
        </div>

        <div class="form-group visible-lg">
            <div class="drop-zone-container">
                <div class="drop-zone">
                    <span>or drop document here</span>
                </div>
            </div>
        </div>

        <div class="form-group hidden-lg">
            <div class="drop-zone-container">
                <label for="documentFile" class="drop-zone">
                    <span>Add document</span>
                </label>
            </div>
        </div>

        <div class="form-group">
            <div id="status" class="alert alert-info">File is not selected yet</div>
        </div>

        <input type="file" name="documentFile" id="documentFile" class="hide">
    </form>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="dropZone.js"></script>

<script type="text/html" id="files-template">
<% if (_.isEmpty(files)) { %>
    No files found
<% } else { %>
    File changed. Files:

    <ul>
        <% _.each(files, function(file) { %>
            <li>
                <b>
                    <% if (file.type) { %>
                        <%= file.type %>
                    <% } else { %>
                        &lt;Unknown type&gt;
                    <% } %>
                </b>

                <%= file.name %>
            </li>
        <% }); %>
    </ul>
<% } %>
</script>

<script>
    $(function() {
        var $file = $('#documentFile'),
            status = new Status($('#status')),
            renderFiles = _.template($('#files-template').html());

        $('.drop-zone').dropZone({
            onUnsupported: function() {
                status.update("Drag and drop is not supported");
            },
            onDragOver: function() {
                this.addClass("drag-over");
            },
            onDragLeave: function() {
                this.removeClass("drag-over");
            },
            onDrop: function(e) {
                this.removeClass("drag-over");

                if (e.dataTransfer.files.length) {
                    $file.get(0).files = e.dataTransfer.files;

                    $file.change();
                }
            }
        });

        $file.on("change", function() {
            var html = renderFiles($file.get(0));

            status.update(html);
        });
    });
</script>
</body>
</html>