<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Price widget</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="price-widget.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Price widget</h1>

        <div id="widget1"></div>

        <div id="widget2"></div>
    </div>

    <script id="widget-template" type="text/html">
        <div class="btn-group-vertical btn-group-left hidden-xs" role="group">
            <a href="#" class="btn btn-primary widget-action widget-action-backward" title="Go back 1 week">
                <span class="glyphicon glyphicon-step-backward"></span>
            </a>

            <a href="#" class="btn btn-primary widget-action widget-action-fast-backward" title="Go back 1 month">
                <span class="glyphicon glyphicon-fast-backward"></span>
            </a>
        </div>

        <div class="btn-group-vertical btn-group-right hidden-xs" role="group">
            <a href="#" class="btn btn-primary widget-action widget-action-forward" title="Go forward 1 week">
                <span class="glyphicon glyphicon-step-forward"></span>
            </a>

            <a href="#" class="btn btn-primary widget-action widget-action-fast-forward" title="Go forward 1 month">
                <span class="glyphicon glyphicon-fast-forward"></span>
            </a>
        </div>

        <div class="panel panel-default price-widget">
            <div class="panel-body">
                <ul class="prices-container"></ul>
            </div>

            <div class="panel-footer visible-xs">
                <div class="btn-group btn-group-justified">
                    <a href="#" class="btn btn-primary widget-action widget-action-fast-backward" title="Go back 1 month">
                        <span class="glyphicon glyphicon-fast-backward"></span>
                    </a>

                    <a href="#" class="btn btn-primary widget-action widget-action-backward" title="Go back 1 week">
                        <span class="glyphicon glyphicon-step-backward"></span>
                    </a>

                    <a href="#" class="btn btn-primary widget-action widget-action-forward" title="Go forward 1 week">
                        <span class="glyphicon glyphicon-step-forward"></span>
                    </a>

                    <a href="#" class="btn btn-primary widget-action widget-action-fast-forward" title="Go forward 1 month">
                        <span class="glyphicon glyphicon-fast-forward"></span>
                    </a>
                </div>
            </div>
        </div>
    </script>

    <script id="day-template" type="text/html">
        <div class="panel-heading">
            <%= date_LIST %>
        </div>

        <div class="panel-body day-<%= type %><% if (isActive) { %> day-active<% } %>">
            <% if (type == "sold") { %>
                SOLD
            <% } else { %>
                <%= currency %><%= price %>
            <% } %>
        </div>

        <div class="panel-footer">
            <div class="day-discount">
                <% if (discount) { %>
                    -<%= discount %>%
                <% } else { %>
                    &nbsp;
                <% } %>
            </div>

            <% if (checkbox) { %>
                <div class="day-booking">
                    <input type="checkbox" name="days[]"<% if (isChecked) { %> checked<% } %><% if (type == "poa" || type == "sold") { %> disabled<% } %>>
                </div>
            <% } %>
        </div>
    </script>

    <script id="day-loading-template" type="text/html">
        <% _.times(length, function() { %>
            <li class="panel panel-day day-loading"></li>
        <% }); %>
    </script>

    <script id="day-popover-template" type="text/html">
        <div class="popover popover-day" role="tooltip">
            <div class="arrow"></div>

            <div class="popover-content"></div>
        </div>
    </script>

    <script id="day-popover-content-template" type="text/html">
        <%= date_POPOVER %>
        <br>
        <%= currency %><%= price %> per night, min <%= minNights %> night<% if (minNights != 1) { %>s<% } %>
    </script>

    <script src="../js/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/underscore-min.js" type="text/javascript"></script>
    <script src="../js/backbone-min.js" type="text/javascript"></script>
    <script src="moment.js" type="text/javascript"></script>
    <script src="ajax.js" type="text/javascript"></script>
    <script src="price-widget.js" type="text/javascript"></script>
    <script src="booking-price-widget.js" type="text/javascript"></script>

    <script>
        var priceWidget, bookingPriceWidget;
        var DATA = [
            {type: "poa",       currency: "$", price: 205, discount: 0},
            {type: "poa",       currency: "$", price: 205, discount: 0},
            {type: "available", currency: "$", price: 205, discount: 0},
            {type: "available", currency: "$", price: 205, discount: 0},
            {type: "available", currency: "$", price: 205, discount: 15},
            {type: "available", currency: "$", price: 205, discount: 15},
            {type: "available", currency: "$", price: 205, discount: 15},

            {type: "sold",      currency: "$", price: 205, discount: 0},
            {type: "sold",      currency: "$", price: 205, discount: 0},
            {type: "available", currency: "$", price: 205, discount: 0},
            {type: "available", currency: "$", price: 205, discount: 0},
            {type: "available", currency: "$", price: 205, discount: 15},
            {type: "available", currency: "$", price: 205, discount: 15},
            {type: "available", currency: "$", price: 205, discount: 15}
        ];

        $(function() {
            var FORMAT_SERVER = "MM/DD/YYYY",
                $w1 = $('#widget1'),
                $w2 = $('#widget2'),
                day = moment("11/30/2015", FORMAT_SERVER);

            DATA = _.map(DATA, function(item) {
                day.add(1, 'days');

                return _.extend({}, item, {
                    id: day.format(FORMAT_SERVER)
                });
            });

            priceWidget = $w1.priceWidget({
                url: "/property/1/prices",
                days: DATA
            });

            bookingPriceWidget = $w2.bookingPriceWidget({
                url: "/property/2/prices",
                days: DATA,
                minNights: 3
            });

            $w2.on('prices.change', function(e, view) {
                //console.log('prices.change', view);
            });

            $w1.on('price.day.mouseenter', function(e, view) {
                //console.log('price.day.mouseenter', view);
            });

            $w1.on('price.day.mouseleave', function(e, view) {
                //console.log('price.day.mouseleave', view);
            });
        });
    </script>
</body>
</html>
