.btn-group-vertical {
  margin-top: 12px;
}
.btn-group-vertical > .btn.widget-action {
  padding: 8px 8px;
  font-size: 12px;
}
.btn-group-vertical.btn-group-left {
  float: left;
}
.btn-group-vertical.btn-group-left > .btn.widget-action:first-child {
  border-top-right-radius: 0;
}
.btn-group-vertical.btn-group-left > .btn.widget-action:last-child {
  border-bottom-right-radius: 0;
}
.btn-group-vertical.btn-group-right {
  float: right;
}
.btn-group-vertical.btn-group-right > .btn.widget-action:first-child {
  border-top-left-radius: 0;
}
.btn-group-vertical.btn-group-right > .btn.widget-action:last-child {
  border-bottom-left-radius: 0;
}
.price-widget-container {
  height: 122px;
}
.price-widget-container.price-widget-loading {
  border-radius: 10px;
  background-color: #ddd;
}
.price-widget-container.price-widget-loading:before {
  content: "Loading prices...";
  color: #555;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  position: relative;
  top: 38px;
}
.price-widget-container.price-widget-booking {
  height: 146px;
}
.price-widget-container.price-widget-booking .btn-group-vertical {
  margin-top: 24px;
}
.price-widget-container.price-widget-booking .day-discount {
  margin-bottom: 5px;
}
.price-widget-container .btn.widget-action {
  background-color: #4095b5;
  color: white;
  border: 0;
  margin-bottom: 2px;
}
.price-widget-container .btn.widget-action:hover {
  background-color: #307088;
}
@media screen and (min-width: 768px) {
  .price-widget-container {
    height: 94px;
  }
  .price-widget-container.price-widget-booking {
    height: 118px;
  }
}
.price-widget {
  border-radius: 8px;
  margin-bottom: 0;
}
.price-widget > .panel-body {
  margin: 4px;
  padding: 0;
  overflow-x: hidden;
  border-radius: 4px;
}
.price-widget > .panel-footer {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0;
}
.price-widget > .panel-footer > .btn-group-justified > .btn.widget-action {
  padding: 4px 12px;
  font-size: 12px;
  border-left: 1px solid #307088;
}
.price-widget > .panel-footer > .btn-group-justified > .btn.widget-action:first-child {
  border-top-left-radius: 0;
  border-left: 0;
}
.price-widget > .panel-footer > .btn-group-justified > .btn.widget-action:last-child {
  border-top-right-radius: 0;
}
@media screen and (min-width: 768px) {
  .price-widget {
    margin-left: 27px;
    margin-right: 27px;
  }
}
.prices-container {
  width: 1596px;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  position: relative;
}
.panel.panel-day {
  border: 0;
  float: left;
  margin: 0 2px 0 0;
  text-align: center;
  background-color: #d6d6d7;
  width: 55px;
  max-width: 55px;
  list-style: none;
  cursor: pointer;
  white-space: nowrap;
}
.panel.panel-day:hover {
  background-color: #e3e3e4;
}
.panel.panel-day:last-child {
  margin-right: 0;
}
.panel.panel-day.day-loading {
  background-color: transparent;
  background-image: url(loading-green.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 50%;
  height: 80px;
  cursor: inherit;
  box-shadow: none;
}
.panel.panel-day > .panel-heading,
.panel.panel-day > .panel-body,
.panel.panel-day > .panel-footer {
  background-color: transparent;
  padding: 5px 0;
}
.panel.panel-day > .panel-heading {
  font-size: 11px;
  line-height: 11px;
  color: #5d5d5d;
}
.panel.panel-day > .panel-body {
  font-size: 13px;
  line-height: 18px;
  color: white;
}
.panel.panel-day > .panel-body.day-available {
  background-image: -webkit-linear-gradient(top, #4095b5 0%, #357c97 100%);
  background-image: -o-linear-gradient(top, #4095b5 0%, #357c97 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4095b5), to(#357c97));
  background-image: linear-gradient(to bottom, #4095b5 0%, #357c97 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4095b5', endColorstr='#ff357c97', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
}
.panel.panel-day > .panel-body.day-active {
  background-image: -webkit-linear-gradient(top, #5cb140 0%, #4c9335 100%);
  background-image: -o-linear-gradient(top, #5cb140 0%, #4c9335 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb140), to(#4c9335));
  background-image: linear-gradient(to bottom, #5cb140 0%, #4c9335 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb140', endColorstr='#ff4c9335', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
}
.panel.panel-day > .panel-body.day-poa {
  background-image: -webkit-linear-gradient(top, #f2a926 0%, #e2960e 100%);
  background-image: -o-linear-gradient(top, #f2a926 0%, #e2960e 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2a926), to(#e2960e));
  background-image: linear-gradient(to bottom, #f2a926 0%, #e2960e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2a926', endColorstr='#ffe2960e', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
}
.panel.panel-day > .panel-body.day-sold {
  background-image: -webkit-linear-gradient(top, #d35451 0%, #c83633 100%);
  background-image: -o-linear-gradient(top, #d35451 0%, #c83633 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d35451), to(#c83633));
  background-image: linear-gradient(to bottom, #d35451 0%, #c83633 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd35451', endColorstr='#ffc83633', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
}
.panel.panel-day > .panel-footer {
  font-size: 12px;
  line-height: 12px;
}
.panel.panel-day .day-booking {
  border-top: 1px solid #eee;
  margin-bottom: -4px;
}
.popover-day.fade.in {
  opacity: 0.95;
}
.popover-day .popover-content {
  padding: 10px 20px;
  font-size: 12px;
  color: #5d5d5d;
  text-align: center;
}
