html,
body,
#wrapper {
  height: 100%;
}
body {
  background: linear-gradient(to bottom, #a1bc60 0%, #6daf34 100%);
}
#wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  -webkit-background-size: 300px 300px;
  background-size: 300px 300px;
  background: url("img/fb_logo_transparent.png") no-repeat right bottom;
}
.fb-arrow {
  display: inline-block;
  width: 2em;
  height: 3vh;
  margin-left: 0.5em;
}
.fb-arrow-white {
  background: url("img/icon_arrow_right.png") no-repeat;
  background-size: contain;
}
.fb-arrow-green {
  background: url("img/icon_arrow_right_dark.png") no-repeat;
  background-size: contain;
}
.fb-arrow-white-sm {
  display: inline-block;
  position: relative;
  top: 0.15em;
  width: 1em;
  height: 1em;
  float: right;
  background: url("img/icon_arrow_right_small.png") no-repeat;
  background-size: contain;
}
.fb-scrollable {
  height: 50vh;
  overflow-y: scroll;
}
.fb-control-label {
  padding-top: 0.6em;
}
.btn-transparent {
  background-color: transparent;
  border: 0;
  padding: 0 0.5em 0 0.5em;
  margin: 0.5em 0 0.5em 0;
}
.btn-transparent:active {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.btn-social {
  display: inline-block;
  width: 3em;
  height: 3em;
}
.btn-facebook {
  background: url("img/icon_fb.png") no-repeat;
  background-size: contain;
}
.btn-twitter {
  background: url("img/icon_tw.png") no-repeat;
  background-size: contain;
}
.btn-user {
  background: url("img/icon_profile.png") no-repeat;
  background-size: contain;
  padding-left: 1.5em;
  height: 1.5em;
}
.btn-signOut {
  color: rgba(49, 125, 75, 0.75);
  text-transform: uppercase;
  font-weight: bold;
}
.btn-signOut:hover {
  color: rgba(49, 125, 75, 0.75);
}
.nav-container {
  padding-left: 0;
  padding-right: 0;
}
.user-bar {
  margin-top: 1em;
}
h2 {
  margin-top: 2vh;
}
hr {
  margin-top: 3vh;
  margin-bottom: 3vh;
}
label {
  font-weight: normal;
}
p {
  margin: 0.95em 0 0.95em 0;
}
.btn {
  border: 0;
}
.container {
  width: 100%;
}
.form-control {
  height: 3em;
  padding-left: 1em;
  padding-right: 1em;
}
.list-group-item {
  border: 0;
  margin-bottom: 5px;
}
.navbar {
  margin-bottom: 0;
}
.navbar-brand {
  background: url("img/fb_logo_line.png") no-repeat;
  background-size: contain;
  display: block;
  padding: 0;
  width: 10em;
  height: 9.5vh;
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.panel {
  border: 0;
}
.panel:first-child {
  margin-top: 1em;
}
.panel:last-child {
  margin-bottom: 0;
}
.panel-default hr {
  border-top-color: #a1bc60;
}
.tab-pane.fb-pane {
  background-color: #fff;
  color: rgba(49, 125, 75, 0.75);
  padding: 1em;
  box-shadow: inset 0 1px 8px 0 rgba(50, 50, 50, 0.41);
}
.tab-pane .panel {
  background-color: #6daf34;
  color: white;
}
