//Global Variables ->
@colourGreen: #446b32;
@colourGreenTransparent: rgba(49, 125, 75, 0.75);
@colourLightGreen: rgb(109, 175, 52);

.makeIcon(@url) {
    background: url(@url) no-repeat;
    background-size: contain;
}

// Global styles ->
html, body, #wrapper {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #a1bc60 0%, #6daf34 100%);
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    -webkit-background-size: 300px 300px;
    background-size: 300px 300px;
    background: url("img/fb_logo_transparent.png") no-repeat right bottom;

    &.front {
        -webkit-background-size: 327px 220px;
        background-size: 327px 220px;
        background: url("img/apples_bg_s.png") repeat;
    }
}

.fb-arrow {
    display: inline-block;
    background-position-y: center !important;
    width: 1em;
    height: 1em;

    &.fb-arrow-lg {
        width: 1.5em;
        height: 1.5em;
    }
}

.fb-arrow-white {
    .makeIcon("img/icon_arrow_right.png");
}

.fb-arrow-green {
    .makeIcon("img/icon_arrow_right_dark.png");
}

.fb-menu-right {
    display: inline-block;
    position: relative;
    top: 0.15em;
    width: 1em;
    height: 1em;
    float: right;
    .makeIcon("img/icon_arrow_right_small.png");
}

.fb-scrollable {
    height: 50vh;
    overflow-y: scroll;
}

.fb-control-label {
    padding-top: 0.6em;
}

.fb-logo {
    background-color: #fff;
    overflow-y: auto;

    > a {
        display: block;
        width: 12em;
        height: 12em;
        margin: 1.5em auto 1.5em auto;
        background: url("img/fb_logo.png") no-repeat;
        background-position-x: center;
        background-size: contain;
    }
}

.btn-bold {
    text-transform: uppercase;
    font-weight: bold;
}

.btn-transparent {
    background-color: transparent;
    border: 0;
    padding: 0 0.5em 0 0.5em;
    margin: 0.5em 0 0.5em 0;

    &:active {
        box-shadow: none;
        -webkit-box-shadow: none;
    }
}

.btn-social {
    display: inline-block;
    width: 3em;
    height: 3em;
}

.btn-facebook {
    .makeIcon("img/icon_fb.png");
}

.btn-twitter {
    .makeIcon("img/icon_tw.png");
}

.btn-user {
    .makeIcon("img/icon_profile.png");
    padding-left: 1.5em;
    height: 1.5em;
}

.btn-signIn {
    display: inline-block;
    text-align: center;
    background-color: @colourGreen;
    .btn-bold();
    font-size: 1.5em;
    border-radius: 50%;
    width: 6em;
    height: 6em;
    padding: 1.5em 0;

    &:hover {
        background-color: #2e4822;
    }
}

.btn-signOut {
    color: @colourGreenTransparent;
    .btn-bold();

    &:hover {
        color: @colourGreenTransparent;
    }
}

.nav-container {
    padding-left: 0;
    padding-right: 0;
}

.signIn-block {
    text-align: right;
    padding-top: 3em;
    padding-right: 3em;
}

.user-bar {
    margin-top: 1em;
}

// Bootstrap fixes ->
h2 {
    margin-top: 2vh;
}

hr {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

label {
    font-weight: normal;
}

p {
    margin: 0.95em 0 0.95em 0;
}

.btn {
    border: 0;
}

.container {
    width: 100%;

    &:last-child {
        margin-bottom: 1em;
    }
}

.form-control {
    height: 3em;
    padding-left: 1em;
    padding-right: 1em;
}

.list-group-item {
    border: 0;
    margin-bottom: 5px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    .makeIcon("img/fb_logo_line.png");
    display: block;
    padding: 0;
    width: 10em;
    height: 9.5vh;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.panel {
    border: 0;

    &:first-child {
        margin-top: 1em;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.panel-default {
    hr {
        border-top-color: rgb(161, 188, 96);
    }
}

.tab-pane {
    &.fb-pane {
        background-color: #fff;
        color: @colourGreenTransparent;
        padding: 1em;
        box-shadow: inset 0 1px 8px 0 rgba(50, 50, 50, 0.41);
    }

    .panel {
        background-color: @colourLightGreen;
        color: white;
    }
}
