.navbar-top {
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.navbar-top .dropdown-menu > li > a {
  color: #4692b4;
}
.navbar-top .dropdown-menu > li > a:hover,
.navbar-top .dropdown-menu > li > a:focus {
  color: #29566b;
}
.brand-container {
  height: 50px;
  overflow-y: visible;
  float: left;
}
.aa-brand {
  display: block;
  width: 249px;
  height: 74px;
  background-image: url("https://aa-rebuild.webfit.co.nz/bundles/app/images/logo-new.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.navbar-top .aa-brand {
  width: 249px;
  height: 74px;
}
.navbar-top .navbar-nav > li > a {
  padding: 20px 15px 10px 15px;
  color: #4692b4;
}
.navbar-top .navbar-nav > li > a:hover,
.navbar-top .navbar-nav > li > a:focus {
  color: #29566b;
}
.navbar-top.navbar-static-top .navbar-nav > li > a {
  padding: 10px 15px 10px 15px;
}
@media screen and (min-width: 992px) {
  body {
    padding-top: 70px;
  }
}
